#hero {
  width: 100%;
  height: clamp(14rem, 35vw, 30rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;

  .hero__thumbnail {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;

    z-index: -1;
  }

  .hero__heading {
    color: $blue;
    line-height: 175%;
    font-size: $h1-size-small;

    span {
      padding: 0.25rem;
      background-color: white;
    }
  }

  .hero__button {
    background-color: $green;
    color: white;
    border-radius: $bRadius;
    padding: 0.5rem 0.5rem;
    width: fit-content;
    border: none;
  }

  @media (min-width: 768px) {
    .hero__heading,
    .hero__button {
      margin-left: 50%;
    }

    .hero__button {
      padding: 1rem;
      font-size: 1.5rem;
      width: 15em;
    }
  }
  @media (min-width: 960px) {
    .hero__heading {
      font-size: $h1-size;
    }
  }
}
