$blue: #01b7f0;
$green: #00b234;

$light-yellow: #fffcd7;
$light-blue: #c5eefd;
$light-green: #d9edd5;
$light-red: #fdded2;

// font sizes
$h1-size: 3rem;
$h1-size-small: 1.75rem;
$h3-size-small: 1.5rem;

// Border Radius
$bRadius: 3px;

/* slabo-13px-regular - latin */
@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/slabo-13px-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/slabo-13px-v8-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/slabo-13px-v8-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/slabo-13px-v8-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/slabo-13px-v8-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/slabo-13px-v8-latin-regular.svg#Slabo13px') format('svg'); /* Legacy iOS */
}
